{% extends "master_page_home.html" %}
{% block title %}
Cart
{% endblock %}
{% block main %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section id="cart_items">
	<div class="container-fluid">
		{% if text %}
		<h1 style="color: red; text-align:center;">{{text}}</h1>
		{% else %}
		<div class="col-md-6 col-md-offset-1" style="padding-top: 30px">
			<div class="table-responsive cart_info" style="overflow-x: hidden">
				<table class="table table-condensed">
					<thead>
					<tr class="cart_menu">
						<td class="image">Image</td>
						<td class="description">Name</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
					</thead>
					<tbody>
					{% for product in groupByProduct %}
					<tr>
						<td class="cart_product">
							<a href=""><img width="100px" src="images/products/{{product.image}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">{{product.name}}</a></h4>
						</td>
						<td class="cart_price">
							<p>{{product.price}}</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">{{product.price}}</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href="remove?idsp={{product.id}}"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>

				<br/>
				<a class="btn-block btn btn-outline-success" href="checkout"><h1>Giao hàng và thanh toán</h1></a>
			</div>
		</div>
		<div class="col-md-4" style="margin-bottom: 36px;">
			<div id="dropin-container" data-braintree-token="{{braintreeToken}}"></div>
			<button id="paypalCheckout" class="btn-lg btn-block btn btn-info">
				Paypal Checkout
			</button>
		</div>
		{% endif %}
	</div>
	<div class="clearfix"></div>
</section> <!--/#cart_items-->

<script>
	var token = document.querySelector('#dropin-container').getAttribute('data-braintree-token');
	var button = document.querySelector('#paypalCheckout');
	braintree.dropin.create({
		authorization: token,
		container: '#dropin-container'
	}, function (createErr, instance) {
		button.addEventListener('click', function (event) {
			event.preventDefault();
			console.log('touch', token);
			instance.requestPaymentMethod(function (err, payload) {
				// Submit payload.nonce to your server
			});
		});
	});
</script>
{% endblock %}
